<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.capture.intent">

<!--권한 추가-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!--    단말에 하드웨어 카메라가 반드시 있어야 앱이 실행될수 있다는 것을 지정-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        내용 제공자 추가 -->
<!--        android:name="android.support.v4.content.FileProvider" - 특정 폴더를 공유하는데 사용하는 내용 제공자-->
<!--        android:authorities="org.techtown.capture.intent.fileprovider" - 앱의 패키지 이름.fileprovider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.techtown.capture.intent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
<!--            external.xml 화일 지정-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external" />
        </provider>

    </application>

</manifest>